body {
  color: white;
  /* background-color: black; */
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.nav-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 6%;
  background-color: black;
  color: white;
}


.nav-left {
  display: flex;
  align-self: flex-start;
  width: 60%;
  text-align: left;
  font-size: 2vw;
  font-style: oblique;
  font-weight: bold;
  min-height: 1px;
  flex-wrap: wrap;
  margin-left: 1%;
  margin-top: 1%;
}

.nav-right {
  display: flex;
  width: 15%;
	margin-left: 2%;
  margin-right: 1%;
  /* margin-top: 1%; */
  /* min-height: 1px; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border: none;
  font-size: 1vw;
  top: 0;
  /* margin-bottom: 1%; */
}

.banner-container {
  position: relative;
  height: 70vw;
  width: 100%;
  /* margin-top: 3%; */
  /* max-height: 30%; */
  /* max-width: auto; */
  overflow: hidden;
  /* background-color: white; */
  /* background-size: cover; */
  background: url(https://c.wallhere.com/photos/b5/01/1680x977_px_abstract_wallpaper_art_images_asian_art_colourful_paints_cool_photos_hd_desktop_images_hd_photos-801830.jpg!d);
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  border: 5px solid green;
  z-index: -1;
}

/* .banner { */
  /* width: 100%; */
  /* height: 100%; */
  /* opacity: 0.75; */
  /* background-position: center; */
  /* border: 1px solid red; */
  /* background-position-x: 50%; */
/* } */

.banner-text {
  position: absolute;
  /* top: 0; */
  bottom: 6vw;
  left: 8vw;
  /* top: -30vh; */
  color: black;
  font-size: 10vw;
}

.project-container {
  background-color: black;
  height: 40%;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.project-entry-container {
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  width: 10%;
  flex-direction: column;
  border:1px solid green;    
  height:18vw;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:18vw;
  background-color: white;
  margin-left: 1%;
  margin-right: 1%;
}

.project-detail {
  margin-top: 25%;
  height: 95%;
}

.project-name {
  margin-top: 1%;
  font-style: oblique;
  color: green;
}

.project-descrip {
  font-size: small;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  color: green;
}

.project-url {
  align-self: flex-end;
  font-size: 1vw;
  align-self: center;
  margin-bottom: 10%;
}

.git-photo {
  width: 1vw;
  height: auto;
}

.tech-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 40%;
  flex-wrap: wrap;
  background-color: white;
  color: black;
}

.tech-header {
  margin-top: 10%;
  font-size: 3vw;
  height: 10%;
  width: 60%;
  font-style: oblique;
}

.tech-list {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 70%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tech-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8vw;
  width: 12vw;
  font-size: 2vw;
  margin-top: 1%;
  margin-right: 1%;
  border: 1px solid red;
}

.tech-footer {
  margin-top: 1%;
  height: 5%;
  text-align: center;
  font-style: oblique;
  font-size: 1vw;
  margin-bottom: 10%;
}

.blurb-container {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: black;
}

.blurb {
  margin-top: 10%;
  width: 50%;
  font-size: 2vw;
  height: 40%;
  margin-bottom: 10%;
}

.footer-bar {
  height: 10vh;
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 3px solid green;
}

.footer-container {
  margin-left: 1%;
  margin-right: 2%;
  width: 125vh;
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.footer {
  /* display: flex; */
  margin-top: 0.5%;
  width: 30%;
  height: 90%;
  margin-bottom: 0.5%;
  font-style: oblique;
  font-size: 2vw;
  /* justify-content: flex-end; */
}

.footer-dot {
  width: 10%;
  margin-top: 1%;
  margin-bottom: 0.5%;
  font-style: oblique;
  font-size: 1vw;
}

@media only screen and (max-width: 750px)  {
  .nav-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    height: 100px;
  }
	.nav-left {
    align-self: flex-start;
    width: 60%;
    text-align: left;
    font-size: 2vw;
    font-style: oblique;
    font-weight: bold;
    min-height: 1px;
    flex-wrap: wrap;
  }
  .nav-right {
		margin-right: 0;
		/* min-height: 15px; */
    float: right;
    background-color: green;
    font-size: xx-small;
    width: 25vw;
	}

  .project-container {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .project-entry-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    border:1px solid red;    
    height:150px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:150px;
    background-color: white;
    margin-top: 3%;
  }
  
  .project-detail {
    margin-top: 25%;
    height: 95%;
  }

  .project-url {
    font-size: 1vw;
    align-self: center;
    margin-bottom: 10%;
  }

  .git-photo {
    width: 2vw;
    height: auto;
  } 

  .tech-container {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    justify-content: center;
    align-items: center; 
    width: 100vw;
    flex-wrap: wrap;
    height: 30vw;
  }
  
  .tech-header {
    font-size: 4vw;
    width: 60%;
    font-style: oblique;
    margin-bottom: 2%;
  }
  
  .tech-list {
    display: flex;
    flex-directon: row;
    width: 85%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .tech-entry {
    height: 5%;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: large;
  }
}


/* Desktop screen Sizes */
/* 
@media only screen and (min-width: 768px) {
  .nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 99%;
    height: 3%;
  }
  
  
  .nav-left {
    display: flex;
    align-self: flex-start;
    width: 60%;
    text-align: left;
    font-size: 2vw;
    font-style: oblique;
    font-weight: bold;
    min-height: 1px;
    flex-wrap: wrap;
  }
  
  .nav-right {
    display: flex;
    width: 8%;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 1%;
    min-height: 1px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    color: white;
    border: none;
  }
  
  .project-container {
    display: flex;
    width: 100vw;
    flex-direction: row;
  }

  .project-entry-container {
    margin-left: 1%;
    margin-right: 1%;
    flex-direction: column;
  }
  
  .project-entry {
  }
  
  .project-url {
    align-self: flex-end;
    font-size: 1vw;
    align-self: center;
    margin-bottom: 10%;
  }
  
  .git-photo {
    width: 1vw;
    height: auto;
  }
} */